{%- for section in config if 'plugins' not in section  %}[{{section}}]
{{ config[section].data|indent(4, true) }}
{% endfor -%}

{% if config.plugins is defined %}
{% set plugins_section = [] %}
{%- for plugin in config.plugins %}
{% if config.plugins[plugin].enabled %}
{% set key = plugins_section.append(plugin) %}
[plugin:{{plugin}}]
{{ config.plugins[plugin].data|indent(4, true) }}
{% endif %}
{% endfor -%}

[plugins]
{% for plugin in plugins_section %}
{{ plugin|indent(4, true) }} = yes
{% endfor -%}
{% endif %}
