---
- name: configure ml demo room nodes
  hosts: all
- import_playbook: ../tasks/ping.yaml
- import_playbook: ../tasks/install-logrotate.yaml
- import_playbook: ../tasks/install-stress-ng.yaml
- import_playbook: ../tasks/install-uuidgen.yaml
#- import_playbook: ../tasks/netdata/install-grafana-agent.yaml
#- import_playbook: ../tasks/netdata/install-netdata.yaml
#- import_playbook: ../tasks/netdata/claim-netdata.yaml
- import_playbook: ../tasks/create-users.yaml
- import_playbook: ../tasks/create-cronjobs.yaml
- import_playbook: ../tasks/netdata/netdata-config-health-ml.yaml
- import_playbook: ../tasks/netdata/netdata-config-netdata-conf.yaml
- import_playbook: ../tasks/netdata/netdata-restart.yaml
- import_playbook: ../tasks/netdata/netdata-status.yaml